 /*footer related css*/


 
.site-footer {
  background-color:var(--main-background-color);
}

  /* For larger screens */
  .footer-menus-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;  
    background-color:var(--main-background-color);
    color:var(--main-text-color);
    padding: 1.1rem 0;  
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.newsletter{
  display: flex;
  justify-content: center;
  background-color:var(--main-background-color);
  border-bottom: solid 1px #f8f8f8;
  padding:1rem 0;
  align-items: center;
  flex-wrap:wrap;
}

.newsletter-signup-form {
  display: flex;
}

.newsletter-input {
    width: 240px;
    padding: 12px 20px;
    border: 1px solid var(--second-text-color);
    outline: transparent;
    border-radius: 2px;
}

input[type=email]:focus {
  border:1px solid var(--main-text-color);
}

.newsletter-description-container {
  padding: 0.4rem 2rem;
}

.newsletter-description {
font-weight: bold;
color:var(--main-text-color);
}

.disclaimer-info {
  background-color: #1B1A1A;
  color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url('../img/minimalist.jpg');
  background-position-y:100px ;
  padding-top: 15px;
  border-top: 2px solid white;
}
.disclaimer-info p {
  width: 70%;
  font-size: 13px;
}

/* For smaller screens */
@media (max-width: 700px) {
    .footer-menus-section {
        flex-wrap: wrap;
        padding-left: 1rem;
        width: 95%;
        margin: 0 auto;
    }

    .disclaimer-info {background-position-y:150px;}
    .disclaimer-info p {
      font-size:12px;
    }
}

.newsletter input[type=email] {
  width: 240px;
  padding: 12px 20px;
  border: 1px solid var(--second-text-color);
  outline: transparent;
  border-radius: 2px;
  margin: 0;
}
