
.product-card {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
    background-color: #f8f8f8;
    flex: 0 calc(20% - 1rem);
    box-shadow: 0 3px 5px 2px rgba(0,0,0,.1),
    0 12px 24px rgba(0,0,0,0.11);
    border-radius: 4px;
    transition: transform var(--card-transition-transform-time) ease-out;
    
    }
    
    .product-card:hover {
      transform: translateY(-1px) scale(1.005);
      box-shadow: 0 6px 10px 4px rgba(0,0,0,.1),
    0 12px 24px rgba(0,0,0,0.11);
        border-radius: 4px;
        transition: transform var(--card-transition-transform-time) ease-out, box-shadow var(--card-transition-box-shadow-time) ease-out;
        cursor: pointer;
    }
    
    .product-card:active {
      transform: scale(1);
      box-shadow: 0 15px 24px rgba(0, 0, 0, 0.055),
      0 15px 24px rgba(0,0,0,0.31);
    }
    
    .product-card-container {
      margin: 0rem 0rem 0.5rem 0rem;
      padding: 1% 2%;
    }
    
    .product-image img {
    border-bottom:1px solid rgb(166, 166, 166);
    width: 100%;
    height:300px;
    transition: transform var(--card-transition-transform-time) ease-out;
    object-fit:cover;
    }

    .product-title {
      font-size:1.1rem;
    }
    .product-card:hover .product-title {
      text-decoration: underline;
    }
    
    .product-card:hover img {
    transform: scale(1.01);
    transition: transform var(--card-transition-transform-time) ease-out;
    }
    
    .product-card-info {
    margin-top: auto;
    padding-top: 1rem;
    text-align: center;
    }
    
    @media ( max-width: 1250px ) {
      .product-card {
        flex: 0 calc(25% - 1rem);
      }
      }
      
      @media ( max-width: 950px ) {
        .product-card {
          flex: 0 calc(33% - 1rem);
        }
        }
      
      @media ( max-width: 600px ) {
      .product-card {
        flex: 0 calc(50% - 1rem);
      }	
      
      }
    
    
    .product-card-info .price {
      display: block;
      font-size: 1.1rem;
      font-weight: bold;
      margin: 1rem 0 0.5rem 0;
    }
    
    .product-type {
      font-size: 0.85rem;
    }
    .product-card-link{
      height:100%;
      text-decoration: none;
      color:inherit;

    }
    .product-title {
      margin-bottom: 0.4rem;
    }
    
   
    
        