
.product-card {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
    background-color: #f8f8f8;
    flex: 0 calc(20% - 1rem);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    border-radius: 4px;
    transition: transform var(--card-transition-transform-time) ease-out;
    
    }
    
    .product-card:hover {
      transform: translateY(-5px) scale(1.01);
      box-shadow: 0 24px 36px rgba(0,0,0,0.055),
        0 24px 46px rgba(0,0,0,0.11);
        border-radius: 8px;
        transition: transform var(--card-transition-transform-time) ease-out, box-shadow var(--card-transition-box-shadow-time) ease-out;
    }
    
    .product-card:active {
      transform: scale(1);
      box-shadow: 0 15px 24px rgba(0, 0, 0, 0.055),
      0 15px 24px rgba(0,0,0,0.31);
    }
    
    .product-card-container {
      margin: 0rem 0rem 0.5rem 0rem;
      padding: 1% 2%;
    }
    
    .product-image img {
    border-bottom:1px solid rgb(166, 166, 166);
    width: 100%;
    transition: transform var(--card-transition-transform-time) ease-out;
    }
    
    .product-card:hover img {
    transform: scale(1.01);
    transition: transform var(--card-transition-transform-time) ease-out;
    }
    
    .product-card-info {
    margin-top: auto;
    padding-top: 1rem;
    text-align: center;
    }
    
    @media ( max-width: 1250px ) {
      .product-card {
        flex: 0 calc(25% - 1rem);
      }
      }
      
      @media ( max-width: 950px ) {
        .product-card {
          flex: 0 calc(33% - 1rem);
        }
        }
      
      @media ( max-width: 600px ) {
      .product-card {
        flex: 0 calc(50% - 1rem);
      }	
      
      }
    
    
    .product-card-info .price {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 1rem 0 0.5rem 0;
    }
    
    .product-title {
      margin-bottom: 0.4rem;
    }
    
   
    
        