.quantity-counter {
    display: inline-block;
    border: 1px solid rgb(190, 190, 190);
  }
  
  .quantity-counter-button {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #f8f8f8;
    cursor: pointer;
    flex: 1; 
    width: var(--counter-button-width);
    height: var(--counter-height);
    display: inline-block;
    border:none;
  }
   
  .quantity-counter-input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: var(--counter-input-width);
    height: var(--counter-height);
    text-align: center;
    display: inline-block;
    border:none;
}
  
  .quantity-counter-button:hover {
    background-color: #f5f5f5;
  }

.quantity-counter:focus-within {
border: 1px solid rgb(120, 120, 120);
}

.quantity-counter-input:focus {
    outline: none;
  }
  .label{
    font-weight: 800;
    display: block;
    margin-bottom: 0.5rem;
  }
