.recommended-products {
    margin-bottom: 4rem;
}


  
  .content-image img {
    width: 100%;
    height: var(--item-size);
  }
  
  .carousel {
    scroll-padding: 0 12px;
    display: flex;
    gap: 20px;
  }
  
  .x-slide {
    scroll-snap-type:none;
    overflow-x: auto;
    scrollbar-color: #ababab#ffffff;
    border-radius: 15px;
  }
  
  .x-slide::-webkit-scrollbar {
    width: 7px;
    height: 7px; 
  }
  .x-slide::-webkit-scrollbar-thumb { /* Foreground */
    background: #ababab;
    border-radius: 5px;
  
  }
  .x-slide::-webkit-scrollbar-track { /* Background */
    background: #ffffff;
  }
  .x-slide::-webkit-scrollbar-button {
    display: block;
    height: 20px; /* optional: adjust the height as needed */
  }
  .item {
    scroll-snap-align: start;
  
    background-color: white;
    flex: 0 0 auto;
    display: grid;
    place-content: center;
  
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 18px;
    
    width: var(--item-size);
    padding: 1rem;
    margin:2rem 0; 
    background-color: #f4f4f4;

  }
  
  .content-info {
    height: 4.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
  }

  