.register-container{
  margin-top: 5rem;
}

.container {
    padding: 1rem 0;
    background-color: white;
  }
  
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .register-button {
    background-color: #f5b62e;
    color: white;
    padding: 1rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.3rem;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  .input-link {
    color: dodgerblue;
  }
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
 
  .input-container{
  width:49%;
  display:inline-block;
  }
  
 .container .input-container:first-of-type, .container .input-container:nth-of-type(4) {
  margin-right:0.9rem;
  }

  .container h1{
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 846px) {
    .input-container {
      display: block;
      margin:0;
      width: 100%;
    }
  }
  